<div class="flex items-center justify-between w-full fixed bg-white ring-1 ring-gray-900/5  p-4 sm:px-8 shadow-sm z-50">
    <h2 class="text-xl font-bold text-indigo-600">e-commerce</h2>
    <div class="inline-flex gap-8">
        @if (isAuthenticated()) {
        <button appTooltip="My cart" (click)="onOpenCart()"
            class="relative text-gray-600 hover:text-gray-900 transition-colors">
            <span
                class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 text-xs flex items-center justify-center font-semibold ring-2 ring-white">
                {{ itemCount$ | async }}
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
        </button>
        <button appTooltip="Log out" (click)="logout()" href="#"
            class="text-gray-600 hover:text-gray-900 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
        </button>
        } @else {
        <a routerLink="/login" class="text-gray-600 hover:text-gray-900 transition-colors">Log in</a>
        }
    </div>
</div>