<div class="max-w-4xl flex flex-col gap-4 mx-auto">
    @if (!isLoading()) {
    <h1 class="text-2xl font-semibold text-gray-900">Catalog</h1>
    <!-- Filters -->
    <div class="bg-white p-3 rounded-lg shadow-sm ring-1 ring-gray-900/5 w-full">
        <h2 class="text-lg font-semibold text-gray-900">Filters</h2>
        <form [formGroup]="filtersForm">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <input id="search" type="text" formControlName="search" placeholder="Search products..."
                        class="mt-0.5 p-1.5 w-full rounded border-gray-300 shadow-sm sm:text-sm focus:outline-none focus:border-indigo-500 border">
                </div>
                <div>
                    <input id="minPrice" type="number" formControlName="minPrice" placeholder="Minimun price" min="0"
                        step="0.1"
                        class="mt-0.5 p-1.5 w-full rounded border-gray-300 shadow-sm sm:text-sm focus:outline-none focus:border-indigo-500 border">
                    @if (filtersForm.get('minPrice')?.invalid || filtersForm.errors?.['priceRange']) {
                    <div class="text-sm text-red-600 ms-1">
                        @if (filtersForm.get('minPrice')?.errors?.['min']) {
                        <span>cannot be less than 0</span>
                        }
                        @else if (filtersForm.errors?.['priceRange']) {
                        <span>
                            must be less than max price
                        </span>
                        }
                    </div>
                    }
                </div>
                <div>
                    <input id="maxPrice" type="number" formControlName="maxPrice" placeholder="Maximun price" min="0"
                        step="0.1"
                        class="mt-0.5 p-1.5 w-full rounded border-gray-300 shadow-sm sm:text-sm focus:outline-none focus:border-indigo-500 border">
                    @if (filtersForm.get('maxPrice')?.invalid || filtersForm.errors?.['priceRange']) {
                    <div class="text-sm text-red-600 ms-1">
                        @if (filtersForm.get('maxPrice')?.errors?.['min']) {
                        <span>cannot be less than 0</span>
                        } @else if (filtersForm.errors?.['priceRange']) {
                        <span>
                            must be greater than min price
                        </span>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="flex justify-end mt-4">
                <button (click)="cleanFilters()"
                    class="bg-gray-200 font-semibold text-gray-900 px-3 py-2 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer inline-flex gap-2 items-center"
                    type="button">
                    Clear filters
                </button>
            </div>
        </form>
    </div>
    <!-- Products list -->
    @if (filteredProducts().length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        @for (product of filteredProducts(); track product.id) {
        <div class="bg-white shadow-sm ring-1 ring-gray-900/5 rounded-lg p-6">
            <div class="flex flex-col gap-2 h-full">
                <div class="mx-auto p-2">
                    <img [src]="product.image" alt="Product image" class="w-auto h-64">
                </div>
                <h2 class="text-lg font-semibold text-gray-900">{{ product.title }}</h2>

                <p class="text-gray-600 text-sm mb-3">{{ product.description | shortDescription }} <a
                        [routerLink]="'./details/' + product.id"
                        class="cursor-pointer text-indigo-600 font-semibold">more details</a></p>

                <div class="flex items-center justify-between mt-auto">
                    <p class="text-xl font-bold">${{ product.price }}</p>
                    @if (isAuthenticated()) {
                    <button (click)="onAddToCart(product)"
                        class="bg-indigo-600 font-semibold text-white px-4 py-2 rounded-lg hover:bg-indigo-500 transition-colors cursor-pointer inline-flex gap-2 items-center"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path
                                d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                        </svg>
                        Add to cart</button>
                    }
                </div>
            </div>
        </div>
        }
    </div>
    } @else if (filteredProducts().length === 0) {
    <div class="flex flex-col justify-center items-center mt-16">
        <h2 class="text-2xl font-semibold text-gray-900">No products found</h2>
        <p class="text-xl text-gray-600">Please try searching for a different product</p>
    </div>
    }
    } @else if (isLoading()){
    <div class="flex justify-center items-center min-h-[calc(100vh-10.25rem)]">
        <div class="animate-spin rounded-full h-10 w-10 border-b-2 border-indigo-600"></div>
    </div>
    } @else {
    <div class="flex flex-col justify-center items-center min-h-[calc(100vh-10.25rem)]">
        <h2 class="text-2xl font-semibold text-gray-900">Something went wrong</h2>
        <p class="text-xl text-gray-600">Please try refreshing the page</p>
    </div>
    }
</div>